#title {
    color: limegreen;
    text-align: center;
    font-size: 400%;
    font-family: cursive, "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px red;
}

.stats {
    font-size: 200%;
    font-family: "Lucida Console", Monaco, monospace;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#canvas {
    border: 1px solid black;
    background-image: url("images/stage.png");
    background-size: cover;
}