body {
    color: red;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#canvas {
    border: 1px solid black;
    background-image: url("images/stage.png");
    background-size: cover;
}